[user]
    name = m00p1ng
    email = mongkonchai4412@gmail.com
[core]
    excludesfile = /Users/UnnamE/.gitignore_global
    editor = vim
    ignorecase = false
	;pager = less -+X
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[merge]
    tool = vimdiff
[alias]
    logs = log --abbrev-commit --graph --decorate --pretty=oneline
    logs-full = log --graph --pretty='%C(yellow)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)(%cr) %C(dim white)<%an>%C(reset)'
    logs-date = log --graph --pretty='%C(yellow)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)(%cr)%C(reset)'
    logs-author = log --graph --pretty='%C(yellow)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)%an%C(reset)'
    follow = !git --no-pager log --follow --oneline
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[pager]
	branch = false
