[user]
    name = m00p1ng
    email = mongkonchai4412@gmail.com
[core]
    excludesfile = /Users/UnnamE/.gitignore_global
    editor = vim
    ignorecase = false
    pager = delta
    ;pager = less -+X
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[merge]
    tool = vimdiff
[alias]
    logs = log --abbrev-commit --graph --decorate --pretty=oneline
    logs-full = log --graph --pretty='%C(yellow)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)(%cr) %C(dim white)<%an>%C(reset)'
    logs-date = log --graph --pretty='%C(yellow)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)(%cr)%C(reset)'
    logs-author = log --graph --pretty='%C(yellow)%h%C(reset) -%C(auto)%d%C(reset) %s %C(green)%an%C(reset)'
    follow = !git --no-pager log --follow --oneline
    count = shortlog -ns
    find = log --all --full-history --oneline
    parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
    diffs = !git -c delta.side-by-side=true diff
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[pager]
    branch = false
    shortlog = false
    ;diff = diff-so-fancy | less --tabs=4 -RF --pattern '^(Date|added|deleted|modified):'
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[diff]
    colorMoved = default
[diff-so-fancy]
    stripLeadingSymbols = false
[init]
    defaultBranch = main
[delta]
    features = line-numbers file-decorators
    inspect-raw-lines = false
    line-numbers = true
    syntax-theme = Visual Studio Dark+
    ;navigate = true
[delta "line-numbers"]
    line-numbers-zero-style = 243
    line-numbers-left-style = 243
    line-numbers-right-style = 243
    line-numbers-minus-style = red
    line-numbers-plus-style = green
[delta "file-decorators"]
    file-style = bold yellow
    file-modified-label = modified:
    file-decoration-style = yellow box ul
    hunk-header-style = syntax
    hunk-header-decoration-style = 243 box
    commit-decoration-style = green box ul
[interactive]
    diffFilter = delta --color-only
[pull]
    rebase = false
